.menu-item {
    -fx-font-family: Inter;
    -fx-font-size: 14px;
    -fx-font-weight: 600;
}

.text {
    -fx-font-family: Inter;
    -fx-font-size: 18px;
    -fx-font-weight: 600;
}

.table-view .text{
    -fx-font-family: Inter;
    -fx-font-size:14px;
    -fx-font-weight: 800;
}


.radio-button